* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --secondary-color: #152427;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #efefef;
}

/* ----------- Common ------------- */
.container {
  width: 1140px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.btn {
  --height: 57px;
  --min-width-btn: 173px;

  /* Sizing */
  min-width: var(--min-width-btn);
  height: var(--height);
  background: #143c3c;
  border-radius: 40px;
  border: none;
  /* Text */
  font-weight: 500;
  font-size: 1.8rem;
  line-height: var(--height);
  text-align: center;
  color: #ffffff;
  /* Other */
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #83a17d;
  color: var(--primary-color);
}

/* font-size: 1.6rem line-height: 1.62 */
.desc-1 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #7d8188;
}

/* font-size: 1.4rem line-height: 1.71 */
.desc-2 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #7d8188;
}

/* Heading lv2 */
.heading-lv2 {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: var(--secondary-color);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.break-all {
  word-break: break-all;
}

/* ----------- Header ------------- */
.header {
  font-family: "Public Sans", sans-serif;
}

.header__fixed {
  position: sticky;
  top: -8px;
  z-index: 1;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 18px 0 18px;
  background: #efefef;
}

.header-nav {
  margin-left: auto;
}

.header-nav__list {
  display: flex;
}

.header-nav__item {
  padding: 10px 19px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.header-nav__item:hover,
.header-nav__item-active {
  color: #152427;
}

.header-nav__item-active {
  position: relative;
}

.header-nav__item-active::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 16px;
  height: 2px;
  background: #143c3c;
}

.header-top__btn {
  padding: 0 52px;
  margin-left: 69px;
}

/* ----------- Header Hero ------------- */
.hero {
  font-family: "Public Sans", sans-serif;
}

.hero__decor-line {
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

.hero-row {
  position: relative;
  padding-top: 60px;
  display: flex;
  column-gap: 76px;
}

/* Hero content */
.hero-content {
  margin-top: 42px;
}
.hero .hero__heading {
  /* Size */
  width: 368px;
  /* Text */
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
  color: #152427;
}

.hero__desc {
  /* Box size */
  width: 341px;
  /* Position */
  margin-top: 20px;
  /* text */
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.hero-cta {
  display: flex;
  column-gap: 36px;
  margin-top: 42px;
}

.hero-cta__btn {
  padding: 0 35px;
  white-space: nowrap;
}

.hero-cta__watch-video {
  /* position */
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  background: transparent;
  /* text */
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: var(--secondary-color);
  white-space: nowrap;
  /* other */
  cursor: pointer;
}

.hero-cta__half-border {
  /* Position & Size */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid;
  /* Border set up */
  border-color: var(--primary-color);
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
  transition-duration: 0.3s;
}

.hero-cta__play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
  color: #fff;
  transform: rotate(45deg);
}

.hero-cta__watch-video:hover {
  color: #83a17d;
}

.hero-cta__watch-video:hover .hero-cta__half-border {
  border-color: #83a17d;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(135deg);
}

.hero-cta__watch-video:hover .hero-cta__play-icon {
  background: var(--primary-color);
  transform: rotate(-135deg);
}

/* Hero media */

.hero-media {
  position: relative;
  flex-shrink: 0;
}

.hero-media__image::after {
  position: absolute;
  z-index: -1;
  left: 150px;
  bottom: 50px;
  content: "";
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero-media__image {
  display: flex;
  column-gap: 20px;
}

.hero-media__img:nth-child(2) {
  margin-top: 77px;
}

.hero-media__img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

/* Hero decor */
.hero-decor__img:nth-child(1) {
  position: absolute;
  top: 10px;
  left: 265px;
  height: 360px;
  width: 545px;
}

.hero-decor__img:nth-child(2) {
  position: absolute;
  bottom: -70px;
  right: 0;
  height: 360px;
  width: 545px;
  transform: rotate(-180deg);
}

/* ----------- Branch ------------- */
.branch {
  margin-top: 130px;
}

.branch-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Box model */
  padding: 76px 120px;
  background: #e2eddf;
  border-radius: 100.5px;
}

.branch__item:nth-child(1) {
  font-weight: 500;
  font-size: 3.1rem;
  color: var(--primary-color);
}

.branch__item {
  display: flex;
  align-items: center;
}

/* ----------- Service ------------- */
.service {
  margin-top: 106px;
}

.service-row {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__title {
  position: relative;
  margin-left: 46px;
}

.service__title::before {
  position: absolute;
  left: -46px;
  bottom: 10px;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--secondary-color);
}

.service__heading {
  position: relative;
  width: 520px;
}

.service__heading::after {
  position: absolute;
  bottom: 20px;
  left: 350px;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--secondary-color);
}

.service__controls {
  /* display */
  display: flex;
  align-items: center;
  column-gap: 17px;
}

.service__controls-arrow {
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  /* box model */
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #e2eddf;
  color: #152427;
  /* other */
  cursor: pointer;
  transition: 0.3s;
}

.service__controls-arrow:hover {
  background: #152427;
  color: #fff;
}

/* Service Courses */
.service-courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  margin-top: 76px;
}

.service-courses__item-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  transition: 0.3s;
}

.service-courses__item-image:hover .service-courses__item-img {
  opacity: 0.9;
}

.service-courses__item-body {
  /* Position */
  padding: 24px 15px;
  /* Box model */
  background: #fff;
  border-radius: 0 0 20px 20px;
}

.service-courses__item-body:hover {
  cursor: pointer;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-courses__item-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.2;
  color: #152427;
}

.service-courses__item-desc {
  padding-top: 18px;
  width: 268px;
}

/* ----------- Info ------------- */
.info {
  margin-top: 149px;
}

.info-row {
  display: flex;
  column-gap: 64px;
}

/* Info thumbs */

.info-thumbs {
  position: relative;
  flex-shrink: 0;
}

.info-thumbs__image {
  display: flex;
  column-gap: 21px;
}

.info-thumb__img:first-child {
  margin-top: 90px;
}

.info-thumb__img {
  width: 284px;
  height: 480px;
  border-radius: 210px;
  object-fit: cover;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

/* ----- Stats trend ----*/

.stats-trend {
  /* Display & Position */
  position: absolute;
  top: 405px;
  right: 0;
  display: inline-block;
  padding: 19px 23px;
  background: #fff;
  box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
  border-radius: 8px;
  /* Font */
  font-family: "Public Sans", sans-serif;
}

.stats-trend__header {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #152427;
}

.stats-trend__title {
  margin-top: 6px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: #575d5e;
  opacity: 0.4;
}

.stats-trend__number {
  margin-top: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #152427;
}

.stats-trend__loading-long {
  margin-top: 3px;
  width: 96px;
  height: 2px;
  background: #eaeaea;
  border-radius: 10px;
}

.stats-trend__loading-short {
  width: 40px;
  height: 2px;
  background: #83a17d;
  border-radius: 10px;
}

.stats-trend__loading-text {
  display: block;
  margin: 3px 0 0 48px;
  font-weight: 500;
  font-size: 1rem;
  color: #152427;
}

.stats-trend__circle-big {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #eaeaea;
}

.stats-trend__circle-small {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #143c3c;
}

.stats-trend__team-row {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats-trend__avatar-group {
  display: flex;
}

.stats-trend__avt {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.stats-trend__avt + .stats-trend__avt {
  margin-left: -6px;
}

/* Decor */
.info-decor {
  position: absolute;
  top: 15px;
  left: 25px;
  transform: rotate(10deg);
}

/* Info content */
.info-content__title {
  position: relative;
  margin-left: 46px;
}

.info-content__title::before {
  position: absolute;
  left: -46px;
  bottom: 10px;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--secondary-color);
}

.info-content__heading {
  margin-top: 20px;
}

.info-content__desc {
  margin-top: 11px;
}

.info-content__stats {
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 36px;
  padding-bottom: 20px;
  border-bottom: 1px solid #83a17d;
}

.info-content__stats-number {
  font-weight: 600;
  font-size: 4.2rem;
  color: #152427;
}

/* ----------- Process ------------- */
.process {
  margin: 115px 0;
}

.process__title {
  margin-left: 46px;
  position: relative;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.12;
  color: #152427;
}

.process__title::before {
  display: inline-block;
  position: absolute;
  left: -46px;
  bottom: 10px;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--secondary-color);
}

.process__heading {
  margin-top: 20px;
  width: 477px;
}

.process-row {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 81px;
}

.process-item {
  display: grid;
  grid-template-columns: 18% 26% 1fr;
  align-items: center;
  padding: 57px 30px 54px;
  border-bottom: 2px solid #e2eddf;
  transition: 0.3s;
  cursor: pointer;
}

.process-item:hover {
  background: #e2eddf;
  border-radius: 33px;
}

.process-item:hover .process-item__learn-more {
  opacity: 1;
  transition: 0.3s;
}

.process-item__learn-more {
  opacity: 0;
}

.process-item__number {
  font-weight: 600;
  font-size: 7.2rem;
  color: #143c3c;
}

.process-item__content-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: var(--secondary-color);
}

.process-item__learn-more {
  display: inline-block;
  padding-top: 22px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  color: #575d5e;
  text-decoration: underline;
}

.process-item__img {
  position: absolute;
  right: 0;
  top: -260px;
  width: 450px;
  height: 444px;
  object-fit: cover;
}

.process-item__content-desc {
  /* margin-left: 175px; */
  width: 572px;
  font-size: 1.8rem;
  line-height: 1.56;
}

/* ----------- Project ------------- */
.project {
  padding: 116px 0 63px;
  background: #143c3c;
}

.project-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__heading {
  flex-shrink: 0;
  position: relative;
  width: 457px;
  color: #e7f9f9;
}

.project__heading::before {
  position: absolute;
  bottom: 20px;
  left: 290px;
  content: "";
  width: 66px;
  height: 2px;
  background: #83a17d;
}

.project__content {
  margin-left: 93px;
}

.project__actiton-text,
.project__content-desc {
  width: 590px;
  font-size: 1.8rem;
  line-height: 1.56;
}

.project__content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 26px;
  padding: 13px 8px 13px 0;
  background: transparent;
  /* text */
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #ffffff;
  /* other */
  cursor: pointer;
  transition: 0.3s;
}

.project__content-btn:hover {
  color: #83a17d;
}

/* Video */
.project__video {
  position: relative;
  margin-top: 72px;
}

.project__video-img {
  height: 544px;
  width: 100%;
  object-fit: cover;
  border-radius: 22px;
}

.project__video-btn {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
}

.project__video-play {
  width: 36px;
  height: 36px;
}

.project__video-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* ----------- Feature ------------- */
.feature {
  margin-top: 140px;
}

.feature__heading {
  width: 520px;
  text-align: center;
  margin: 0 auto;
}

.feature__desc {
  padding-top: 20px;
  width: 547px;
  text-align: center;
  margin: 0 auto;
}

.feature-row {
  display: flex;
  margin-top: 103px;
  gap: 45px;
  align-items: flex-start;
}

.feature-item__text {
  margin-top: 26px;
  display: block;
  /* text */
  font-weight: 600;
  font-size: 2rem;
  line-height: 1;
  color: #152427;
}

.feature-item__desc {
  margin-top: 9px;
  width: 286px;
  text-align: center;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box model */
  padding: 80px 37px;
  width: 350px;
  height: 362px;
  border: 1.5px solid #cecece;
  border-radius: 160px;
  transition: 0.3s;
}

.feature-item:hover {
  box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
  background: #fff;
  border: 1.5px solid #fff;
  cursor: pointer;
  margin-top: -70px;
}

/* ----------- Blog ------------- */
.blog {
  margin-top: 184px;
}

.blog__title {
  position: relative;
  margin-left: 46px;
  /* text */
  font-weight: 500;
  font-size: 1.6rem;
  color: #152427;
}

.blog__title::before {
  position: absolute;
  left: -46px;
  bottom: 10px;
  content: "";
  width: 25px;
  height: 1px;
  background: var(--secondary-color);
}

.blog-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
}

.blog__heading {
  position: relative;
}

.blog__heading::after {
  position: absolute;
  bottom: 20px;
  right: 80px;
  content: "";
  width: 82px;
  height: 3px;
  background: var(--secondary-color);
}

/* blog list */
.blog-list {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.blog-item__img {
  display: block;
  width: 360px;
  height: 317px;
  object-fit: cover;
  border-radius: 40px 40px 0px 0px;
  transition: 0.3s;
  cursor: pointer;
}

.blog-item__img:hover {
  opacity: 0.8;
}

.blog-item__body {
  padding: 26px 5px;
  background: #fff;
  border-radius: 0px 0px 20px 20px;
  transition: 0.3s;
  cursor: pointer;
}

.blog-item__body:hover {
  box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
}

.blog-item__body-text {
  /* box model */
  display: inline-block;
  padding: 7px 34px;
  background: #e2eddf;
  border-radius: 20px;
  /* text */
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #000000;
}

.blog-item__body-title {
  margin-top: 13px;
  width: 346px;
  /* text */
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--primary-color);
}

.blog-item__line {
  margin-top: 38px;
  width: 337px;
  height: 1px;
  background: #c4c4c4;
}

.blog-item__body-date {
  display: block;
  margin-top: 16px;
  /* ??? */
  margin-left: 247px;
  font-size: 1rem;
  color: #575d5e;
}

/* ----------- Footer ------------- */
.footer {
  font-family: "Public Sans", sans-serif;
  margin-top: 102px;
  padding: 72px 0 50px;
  background-color: var(--primary-color);
}

.footer-row {
  display: flex;
  align-items: center;
}

.footer-cta {
  font-family: "Poppins";
  width: 58%;
}

.footer-info {
  width: 39%;
}

/* cta group */
.footer-cta__heading {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #ffffff;
}

.footer-cta__form {
  margin-top: 25px;
}

.footer-cta__form-input {
  border: none;
  padding-left: 10px;
  border-left: 2px solid #6a8383;
  outline: none;
  background: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  color: #6a8383;
}

.footer-form__input::placeholder {
  font-family: "Poppins";
  font-size: 1.4rem;
  line-height: 1.86;
  color: #9ca8b1;
}

.footer-cta__form-submit {
  padding: 8px 20px;
  background: transparent;
  color: #c4c4c4;
  cursor: pointer;
}

.footer-cta__line {
  margin-top: 36px;
  width: 354px;
  height: 1px;
  background: #6a8383;
}

.footer-cta__socials {
  margin-top: 47px;
  display: flex;
  column-gap: 22px;
  align-items: center;
}

.footer-cta__socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #265252;
  color: #fff;
}

.footer-cta__socials-item:hover {
  background: #a75325;
}

/* Footer info */
.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer__heading {
  font-size: 1.8rem;
  line-height: 28px;
  color: #ffffff;
}

.footer-list {
  margin-top: 10px;
}

.footer-list__item {
  font-size: 1.6rem;
  line-height: 2.25;
  color: #6a8383;
}

.footer__line {
  margin-top: 45px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #143c3c 2.28%,
    #295a5a 55.65%,
    rgba(38, 82, 82, 0) 102.06%
  );
}

.footer__copyright {
  margin-top: 15px;
  /* text */
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #aab3ba;
  opacity: 0.7;
}
